import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
*{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar a{
  font-size: 14px;
  font-weight: 500;
}
.navbar-toggler{
  padding:1px 5px;
  font-size:18px;
  line-height:0.3;
  background: #fff;
}